:root {
    /* Colors */
        /* Primary */
--Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayishblue: hsl(227, 10%, 46%);
--White: hsl(0, 0%, 100%);
        /* Neutral */
--Dark-gray: hsl(0, 0%, 59%);

    /* Typography */
--FontSize: 1.125rem;
--Border-r: 10px
}
/* Strat Global rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    font-family: "Kumbh Sans", serif;
    font-weight: 400;
    background-color: var(--Dark-cyan);
    display: grid;
    place-items: center;
    padding: 1rem;
    height: 100vh;
    background-image: url(images/bg-pattern-bottom.svg), url(images/bg-pattern-top.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left 50vw top 45vh, right 51vw bottom 30vh;
    position: relative
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* Start main */
.box {
    --box-shadow: hsla(228.9, 23.1%, 22.9%, 0.23);
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    max-width: 25rem;
    border-radius: 10px;
    background-color: var(--White);
    box-shadow: 0px 20px 41px 10px var(--box-shadow)
}
.cover {
    border-top-left-radius: var(--Border-r);
    border-top-right-radius: var(--Border-r)
}
.author {
    text-align: center
}
.profile_pic {
    position: relative;
    padding-bottom: 4.5rem
}
.profile_pic img {
    display: block;
    max-width: 100%;
    width: 6.25rem;
    border-radius: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    border: 5px solid var(--White);
    position: absolute;
    top: 0;
    left: 50%
}
.author span {
    display: block
}
.my_info {
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 1.25rem
}
.my_info h2 {
    font-size: var(--FontSize);
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 0.625rem
}
.my_info h2 span {
    margin-left: 0.625rem;
    display: inline;
    color: var(--Dark-grayishblue)
}
.my_info span:not(:first-child) {
    color: var(--Dark-gray)
}
.statistics {
    --padding: 1.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: var(--padding);
    padding-bottom: var(--padding)
}
.stat span:first-of-type {
    font-size: var(--FontSize);
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 0.313rem
}
.stat span:last-of-type {
    font-size: 0.75rem;
    letter-spacing: 2px;
    color: var(--Dark-grayishblue)
}
